@charset "UTF-8";

h2.a {
	font-weight:bold;
	border-bottom:none;
 	font-size:22px;
	text-align:left;
}
h2.b { 
	font-size:22px;
	margin-top:5px; 
	margin-bottom:5px; 
	line-height:150%;
	text-align:center;
}
table {
	margin:0;
	border:0;
	border-spacing:0;
	padding:0;
	table-layout:fixed;
	width:100%;
}
table#verschachtelt {
	height:100%;
	margin:0 auto;
}
td {
	margin:0;
	border:0;
	border-spacing:0;
	padding:0;
	vertical-align:top;
	overflow:hidden;
}
td#textbereich {
	height:100%;
	width:100%;
	padding:0 10px 0px 10px;
	overflow:visible;
	background: #EEE;
}
td.forml_a {
	text-align:right;
	/*vertical-align:middle;*/
	padding:4px 15px 4px 15px;
	/*font-weight:bold;*/
	font-size:14px;
	background-color: #DDD;
}
td.forml {
	text-align:right;
	vertical-align:center;
	padding:4px 15px 4px 15px;
	/*font-weight:bold;*/
	font-size:14px;
}
label.norm {
	vertical-align: middle;
	font-weight: 600;
}
span.mid {
	vertical-align: middle;
}
td.l_a {
	text-align:center;
	padding:5px 0px;
	font-style:italic;
	background-color: #DDD;
}
td.l_b {
	text-align:center;
	padding:5px 0px;
	font-style:italic;
}
td.h {
	font-size: 1.0em;
	text-align:center;
	padding:5px 0px;
}
span.h {
	font-size: 1.3em;
	color:#FF0000;
	font-weight: bold;
}
fieldset { 
	margin:0 0 10px 0; 
	padding:0px; 
}


input[type='radio'] {
  -webkit-appearance:none;
  width:15px;
  height:15px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 2px 0px gray inset;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}
input[type='radio']:checked:before {
  background:#F00;
}